<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.faber.api.base.admin.mapper.LogApiMapper" >

    <delete id="deleteAll">
        DELETE FROM base_log_api
    </delete>

    <select id="selectPageFromTables" resultType="com.faber.api.base.admin.entity.LogApi">
        SELECT * FROM (
            <foreach collection="tables" item="table" separator=" UNION ALL ">
                SELECT * FROM ${table}
            </foreach>
        ) archive_log ${ew.customSqlSegment}
    </select>

</mapper>
