<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faber.api.base.admin.mapper.LogLoginMapper">

    <select id="countByDay" parameterType="map" resultType="com.faber.core.vo.chart.ChartSeriesVo">
        SELECT DATE_FORMAT(crt_time,"%Y-%m-%d") label, count(*) value
         FROM base_log_login
        WHERE deleted = 0
          AND crt_time &gt;= #{startDate}
          AND crt_time &lt;= #{endDate}
        group by label
        ORDER BY label ASC
    </select>

</mapper>