<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faber.api.base.calendar.mapper.BaseCalendarMapper">

    <select id="selectEnabledByCode" resultType="com.faber.api.base.calendar.entity.BaseCalendar">
        SELECT *
        FROM base_calendar
        WHERE calendar_code = #{calendarCode}
          AND enabled = #{enabled}
          AND deleted = #{deleted}
        LIMIT 1
    </select>

</mapper>
