package ${package}.entity;

import com.alibaba.excel.annotation.ExcelProperty;
import com.alibaba.excel.annotation.write.style.ColumnWidth;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.faber.core.annotation.FaModalName;
import com.faber.core.bean.BaseDelEntity;
import lombok.Data;

import java.util.Date;

    ###if(${hasBigDecimal})
###end

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@FaModalName(name = "${comments}")
@TableName("${tableName}")
@Data
public class ${className} extends BaseDelEntity {
	
#foreach ($column in $columns)
#if($column.columnName == $pk.columnName)
    @ColumnWidth(8)
    @ExcelProperty("$column.columnComment")
#if($column.attrType == 'String')
    @TableId(type = IdType.ASSIGN_UUID)
#else
    @TableId(type = IdType.AUTO)
#end
    private $column.attrType $column.attrname;

#elseif ($column.attrname != 'crtTime' and $column.attrname != 'crtUser' and $column.attrname != 'crtName' and $column.attrname != 'crtHost' and $column.attrname != 'updTime' and $column.attrname != 'updUser' and $column.attrname != 'updName' and $column.attrname != 'updHost' and $column.attrname != 'deleted')
    @ExcelProperty("$column.columnComment")
    private $column.attrType $column.attrname;

#end
#end
}
